@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Playfair+Display:wght@700&display=swap');

body, h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color : rgb(255, 153, 0);
}

body{
    background-image: url('becky.jpg');
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    color : rgb(255, 153, 0);
}

/* Full background settings */
.foldNav {
    background-size: cover;
    background-position: center;
    color: #060606;
    background-repeat: no-repeat;
}

/* Navigation bar styling */
#navigationBar {
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    overflow: hidden;
    display: flex;
    padding: 0 20px;
}

#navigationBar ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
}

#navigationBar ul li {
    flex-grow: 1;
    text-align: center;
}

#navigationBar ul li a {
    color: rgb(255, 153, 0);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

#navigationBar ul li a:hover {
    color: rgb(255, 153, 0);
    background-color: #505050;
}

/* Content and alignment for main sections */
#aboveTheFold, #belowTheFold {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 500px;
}

#aboveTheFold {
    min-height: 100vh;
    flex-direction: column;
    align-content: space-between;
    animation-name: slideInFromRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

#list1 {
    font-weight: bolder; 
    line-height: 40px; 
    color :rgb(255, 153, 0); 
    font-size: 40px;
    padding-bottom: 70px;
}

#aboveTheFold a, #belowTheFold a {
    padding: 10px 20px;
    background-color: rgb(255, 153, 0);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: background-color 0.3s;
}

#aboveTheFold a:hover, #belowTheFold a:hover {
    background-color: rgb(255, 153, 0);
}

#belowTheFold {
    background-color: #000000;
    gap: 10rem;
    padding-top: 120px; 
    align-items: top;
    min-height: 450px;
    animation-name: example;
    animation-duration: 4s;
    padding-bottom : 150px;
    font-weight: bolder;
}

#belowTheFold h1 {
    align-items: top;
    color: black;
}

#main {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td {
    color: black; /* Set text color to black */
}

tr:hover {
    background-color: #f5f5f5;
}

     

     