@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Playfair+Display:wght@700&display=swap');

        body {
            font-family: 'Nunito', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
            background-image: url('http://localhost/Projects/becky.jpg');
            background-size: cover;
            background-position: center;
            color: #060606;
            background-repeat: no-repeat;
        }

        #navigationBar {
            background-color: rgba(0, 0, 0, 0.7);
            backdrop-filter: blur(10px);
            overflow: hidden;
            display: flex;
            padding: 0 20px;
        }

        #navigationBar ul {
            list-style-type: none;
            width: 100%;
            display: flex;
            align-items: center;
            height: 50px;
            padding: 0;
            margin: 0;
        }

        #navigationBar ul li {
            flex-grow: 1;
            text-align: center;
        }

        #navigationBar ul li a {
            color: rgb(255, 153, 0);
            text-decoration: none;
            font-size: 16px;
            transition: color 0.3s;
            padding: 14px 20px;
            display: block;
        }

        #navigationBar ul li a:hover {
            color: #fff;
            background-color: #505050;
        }

        #main {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #f5f5f5;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            position: relative;
            transform: translate(0px, 50px);
        }

        #topBar {
            background-color: #000000;
            color: #fff;
            padding: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            text-align: center;
        }

        button {
            display: block;
            width: 100%;
            padding: 15px;
            margin: 10px 0;
            font-size: 18px;
            color: #fff;
            background-color: rgb(207, 124, 0);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: rgb(179, 108, 0);
        }

        #logo img {
            height: 40px;
        }